/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #0A1734; /* Темно-синий фон */
    color: white;
    text-align: center;
    padding: 50px;
}

/* Заголовок */
h2 {
    color: white;
}

/* Стили для формы */
form {
    background: #1E2A47; /* Темно-серый фон формы */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
}

/* Стили для меток */
label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: white;
}

/* Поля ввода и выпадающие списки */
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Кнопка отправки */
button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #FFC107; /* Желтая кнопка */
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

/* Эффект при наведении */
button:hover {
    background-color: #ffdb4d;
}
